body{


    background: url(../resources/portada2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: white;
    text-align: center;


}

h1{

    font-size: 30px;

    //text-shadow: 2px 2px 11px rgb(255 255 255 / 50%);

}
.cartaLogin{

    //background: rgba(255, 255, 255, 0);
    //box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    //backdrop-filter: blur(5px);
    //-webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.26);
    //border: 1px solid rgba(0, 0, 0, 1);
    width: 450px;
    height: 52vh;
    margin: auto;
    display: inline-grid;
    margin-top: 5%;
    //background: grey;


}

.logo{

    width: 4rem;
    height: 4rem;


}

.formulario{

    display: inline-grid;

}

.titleLogin{

    font-size: 30px;
    margin: auto;
    //text-shadow: 2px 2px 11px rgb(255 255 255 / 50%);

}

.inputText{


    text-align: center;
    //background: transparent;
    border-radius: 10px;
    //border-width: 2px;
    //box-shadow: 0px 0px 15px 1px rgb(255 255 255 / 50%);
    color: black;
    font-size: 16px;
    width: 80%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 2%;

}

.inputText:hover{

    //box-shadow: 0px 0px 15px 1px rgb(255 255 255 / 50%);

}


.label{

    display: inline;
    margin: 4%;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 26px;
    //text-shadow: 2px 2px 6px rgb(255 255 255 / 50%);
    margin-bottom: 0%;


}

.inputSubmit{

    background: #0000004d;
    width: 40%;
    margin: auto;
    padding: 5px;
    font-size: 14px;
    border-radius: 25px;
    color: white;
    //box-shadow: 0px 0px 7px 7px rgb(255 255 255 / 50%);
    margin-top: 7%;
}

.inputSubmit:hover{
    
        //box-shadow: 0px 0px 13px 3px rgb(255 255 255 / 87);
        background: white;
        color: black;
    
}

.other{

    display: inline;
    margin: auto;
    width: 100%;


}

.btn{

    margin-inline: 13%;
    border: 0px;
    font-size: 12px;
    background: transparent;
    padding: 1%;
    //border-radius: 25px;
    color: white;
    float: right;
}

.btn:hover{

    text-shadow: 2px 2px 2px rgb(255 255 255 / 50%);
    color: white;


    
}